.col-1{width:8.33% }
.col-2{width:16.66% }
.col-3{width:25% }
.col-4{width:33.33% }
.col-5{width:41.66% }
.col-6{width:50% }
.col-7{width:58.33% }
.col-8{width:66.66% }
.col-9{width:75% }
.col-10{width:83.33% }
.col-11{width: 91.66%}
.col-12{width:100% }

[class*='col-']{
	float: left;
	box-sizing: border-box;
<<<<<<< HEAD
	border: 1px solid black;}
=======
	border: 1px solid black;
}
>>>>>>> 9e23758856f4e1e6e99cea610a1b3d22cf063c26
.header-height{height: 200px;}
.header-top-height{height: 30px;}
.menu-height{height: 50px;}
.content-height{height: 600px;}
.footer-height{height: 50px;}
.big-footer-height{height: 300px;}
.wrapper{
	width: 80%;
	height: auto;
	margin: 0 auto;
}
.main-ul{
	margin: 0;
	padding: 0;
	list-style: none;

}
.main-ul li{
	float: left;
	width: 246.80px;
	border: 1px solid gray;
}
.main-ul li a{
	display: block;
	text-decoration: none;
	color: red;
	text-align: center;
	height: 48px;
	padding-top:13px;
	box-sizing:border-box; 
	background-color:black; 
}
.main-ul li a:hover{
	background-color:white;
	color: black; 
}